body {
	font-family: 'Architects Daughter', cursive;
}

.topic {   /* where did class="topic" come from? i see it in the log */
	margin: 5px 5px 5px 5px;
}
	
.entry {
	margin-top: 50px;
}

.gif {
	margin: 5px 5px 5px 5px;
	float: left;
}